/*-----Fonts------*/
@import url('https://fonts.googleapis.com/css2?family = Montserrat + Alternativas: wght @ 400; 500; 600 & display = swap'); 

/*--------Reset-------*/
*{
 margin:0;
 padding: 0;
 font-family: 'Montserrat','sans-serif';

}
/*-----Share-----*/
.bg-gradient1{
    background: rgb(2, 1, 10);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%,
     rgba(6, 55, 146, 0.429) 0%,
     rgb(7, 41, 114) 0%, 
     rgb(2, 4, 97) 100%);
}
.bg-gradient{
    background: rgb(7, 4, 61);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%,
     rgba(71,112,186,0.4290091036414566) 0%,
     rgba(18,150,241,1) 0%, 
     rgba(0,212,255,1) 100%);
}
section{
    position: relative;
    overflow: hidden;
}
.grid{
    width: 90%;
    margin: 0 auto;
    max-width: 900px;
}
.wrapper{
    position: relative;
}
.img-container{
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 40vh;
    min-height: 280px;
    background-position: center center;
}
.btn-basic{
    margin: 10px 0px;
    background: #125b19;
    border-radius: 50px;
    border: none;
    color: #fff;
    padding: 20px 70px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    margin-top: 30px;
    transition: .5s all ease;
}
.btn-basic:hover{
    background: #3da032;
}

/*------Header------*/

.img-logo{
    width: 60px;
}
/*---------Section-First---*/
.section-first{
padding-top: 40px;
}
.curtain{
position: absolute;
top: 0;
bottom: 0;
right: 0;
left: 0;
width: 100%;
height: 85%;
z-index: 0;
transform: skewY(-3deg);
transform-origin: top left;

}
.wrapper-first{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.text-container{
    color: #fff;
}
.sub-heading{
    margin: 10px 0px;
}
.img-container-one{
background-image: url(./img/fondo\ 7.jpg);

}

/*---------Section-Second---*/
.wrapper-second{
    margin-top: 75px;
    display: flex ;
    align-items: center;
    justify-content: space-around;
}
.icon-section-second{
    width: 65px;
    
}
/*---------Section-third---*/
.section-third{
    margin-top: 75px;
}
.curtain-reverse{
    height: 100%;
    transform: skewY(5deg);
    transform-origin: top left;
}
.img-container-two{
    background-image: url(./img/fondo\ 6.jpg);
}

/*---------Section-fourth---*/
.section-fourth{
    padding: 75px 0px;
}
/*---------Section-fifth---*/
.section-fifth{
    margin: 50px 0px;

}
.box{
    text-align: center;
    margin: 10px;
    padding: 10px;
    box-shadow: 0px 0px 11px rgb(0, 0, 0, 0.18);
    border-radius: 25px;
}
.price-container{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
}
.price-tag{
    font-weight: bold;
    color: cornflowerblue;
}
.box-text{
    margin-top: 30px;
    text-align: justify;
    color: #484848;
    font-size: 13px;
}

/*---------Section-sixth---*/
.section-sixth{
    padding: 70px 0px;
}
.wrapper-sixth{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#Newsletter-form{
width: 90%;
max-width: 500px;
}
#newsletter-input{
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
}
.btn-newsletter{
    width: 100%;
    margin-top: 10px;
    padding: 10px;
}
/*---------Footer---*/
footer{
    margin: 50px 0px 20px;
}
.legal-links-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.legal-links-text{
    color: #ccc;
    text-decoration: none;
    font-size: 12px;
    transition: .5s all ease;
}
.legal-links-text:hover{
    color: #484848;
}
.legal-links-text:focus{
    outline: none;
}
.sm-box{
    display: flex;
    align-items: center;
    justify-content: center;
}
.sm-links{

    padding: 2px;
    border-radius: 20px;
    transition: .5s all ease;
}
.sm-links:hover{
    background: #484848;
}
.copyright{
    margin-top: 20px;
    text-align: center;
}
.sm-icons{
    width: 30px;
}

/*-------Media Queries-------*/
@media(min-width: 576px){

/*? Section-Second */ 
.icon-section-second{
    width: 95px;
}

}

@media(min-width: 768px){
    /*? Section-first */
.wrapper-first{
    flex-direction: row;
    justify-content: space-between;
}
/*? Section-fifth */
.box{
    width: 30%;
}

}